body {
    font-family: 'Exo 2', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.divGral {
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);
    height: 90%;
    width: 100%;
    max-width: 1200px;
    flex-direction: row;
}

.divContGrande{
    display: flex;
    width: 90%;
    width: 100%;
    flex-direction: row;
}

.divErroresLista, .divContainer{
    width: 600px;
    height: 100%;
}

.divErroresLista{
    width: 600px;
    height: 654px;

    margin: 10px;
    background: url('./assets/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    border-radius: 5px;
    
    box-shadow: 0px 0px 15px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divErrores, .divUsers{
    border-radius: 15px;
    width: 500px;
    height: max-content;

    padding: 5px;

    font-weight: 500;
}
.rojo{
    background-color: rgba(255, 0, 0, 0.75);
    margin-bottom: 5px;
    font-weight: 600;
}
.green{
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.75);
}
.divUsers p{
    padding: 5px;
    border: 3px rgba(0, 128, 0, 0.175) solid;
    border-radius: 8px;
}

.title {
    text-align: center;
    color: #333;
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
    color: #555;
    font-weight: 600;
}

input,
select {
    width: 100%;
    padding: 0.8em;
    margin-top: 0.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

input:focus,
select:focus {
    outline: none;
    border-color: #4a90e2;
}

.divEnviar {
    padding-top: 15px;
    display: flex;
    justify-content: end;
}

.listar, .boton {
    background-color: rgb(74, 144, 226);
    color: white;
    border: none;
    padding: 0.8em 1.5em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    margin-left: 10px;
}

button:hover {
    background-color: #357ab8;
}

@media (max-width: 600px) {
    .divEnviar {
        flex-direction: column;
    }
    
    .divEnviar button {
        width: 100%;
        margin-bottom: 0.5em;
    }

    .divEnviar button:last-child {
        margin-bottom: 0;
    }
}
